.AlertsHolder {
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 500;
}

.AlertItem {
    box-shadow: 0 0 10px rgb(130, 130, 130);
    width: fit-content;
    float: right;
    clear: both;
}